appdirs==1.4.4
atomicwrites==1.4.0
jiter==0.13.0
langchain==1.2.10
langchain-core==1.2.17
langchain-openai==1.1.10
langgraph==1.0.10
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.7.12
matplotlib==3.10.6
openai==2.21.0
orjson==3.11.7
ormsgpack==1.12.2
pyls-spyder==0.4.0
PyMuPDF==1.27.1
PyQt5==5.15.11
PyQtWebEngine==5.15.7
PySide6==6.9.2
setuptools==80.9.0
shiboken6==6.9.2
tiktoken==0.12.0
uuid_utils==0.14.1
wheel==0.45.1
xxhash==3.6.0
